<div class="flex flex-column" style="height: 85vh;">


  <div *ngIf="canAddByFriend" class="mb-3 flex flex-row align-items-center">
    <div class="flex">
      <p-inputSwitch [(ngModel)]="addByFriend" class="mt-2"></p-inputSwitch>
    </div>
    <div class="flex align-items-center mt-1 ml-4">
      <div *ngIf="!addByFriend" >Dodanie po emial</div>
      <div *ngIf="addByFriend" >Dodanie przez znajomych</div>
    </div>
  </div>

  <ng-container *ngIf="canAddByFriend && addByFriend else addByEmail">
    <div *ngIf="addByFriend" class="mb-4" style="max-width: 480px">
          <p-dropdown [options]="friends" [(ngModel)]="friend" optionLabel="email" [filter]="true" filterBy="email" [showClear]="true" [style]="{width:'100%'}" placeholder="Wybierz znajomego" class="min-w-screen">
            <ng-template pTemplate="selectedItem">
              <div class="flex flex-row" *ngIf="friend">
                <div class="ml-2">{{friend.email}}</div>
              </div>
            </ng-template>
            <ng-template let-friend pTemplate="item">
              <div class="flex flex-row">
                <div class="ml-2">{{friend.email}}</div>
              </div>
            </ng-template>
          </p-dropdown>
    </div>
  </ng-container>

  <ng-template #addByEmail>
    <div class="p-inputgroup max-w-30rem mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <span class="p-float-label">
    <input id="email" type="text" pInputText [(ngModel)]="email">
    <label for="email">e-mail</label>
    </span>
    </div>

  </ng-template>

  <div class="p-inputgroup max-w-30rem mb-4">
    <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
    <p-inputNumber [(ngModel)]="amount" mode="currency" currency="PLN" locale="en-US"></p-inputNumber>
  </div>

  <span class="p-float-label max-w-30rem mb-4">
    <textarea id="float-input" rows="6" cols="44" pInputTextarea [(ngModel)]="desc"></textarea>
    <label for="float-input">Opis</label>
</span>

  <div class="field-checkbox mb-4">
    <p-checkbox [(ngModel)]="withEndDate" [binary]="true" inputId="binary"></p-checkbox>
    <label> Czy ustawić date spłaty?</label>
  </div>
  <div *ngIf="withEndDate" class="p-inputgroup max-w-30rem mb-4">
    <p-calendar [(ngModel)]="date" [showIcon]="true"
                [minDate]="minDate"
                [locale]="pl"
                [disabledDates]="invalidDates">

      dateFormat="dd.mm.yy">
    </p-calendar>
  </div>


  <div class="flex flex-row mt-2 ml-4 mr-4">
    <button pButton pRipple type="button" label="Zatwierdź"
            class="p-button-outlined p-button-rounded p-button-success " style="flex: 1 1 48%;"
            [ngClass]="{'p-disabled' : isWorking}" (click)="onSubmit()">
    </button>

  </div>

</div>
<p-toast position="bottom-center" key="bc"></p-toast>
