<p-toast position="bottom-center" key="bc"></p-toast>
<div class="flex flex-column " style="height: 85vh;">

<div class="p-inputgroup max-w-30rem mb-4">
  <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
  <p-inputNumber [(ngModel)]="amount" mode="currency" currency="PLN" locale="en-US"></p-inputNumber>
</div>

<span class="p-float-label max-w-30rem mb-4">
    <textarea id="float-input" rows="6" cols="46" pInputTextarea [(ngModel)]="desc"></textarea>
    <label for="float-input">Opis</label>
</span>
<div class="flex flex-row stick-to-bottom ml-4 mr-4">
  <button pButton pRipple type="button" label="Zatwierdź"
          class="p-button-outlined p-button-rounded p-button-success " style="flex: 1 1 48%;"
          [ngClass]="{'p-disabled' : isWorking}" (click)="pay()">
  </button>

</div>
</div>
