<div class="flex flex-column" style="height: 85vh;">

  <div class="p-inputgroup max-w-30rem mb-4">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <span class="p-float-label">
    <input id="email" type="text" pInputText [(ngModel)]="email">
    <label for="email">e-mail</label>
    </span>
  </div>

  <div class="flex flex-row mt-2 ml-4 mr-4">
    <button pButton pRipple type="button" label="Dodaj"
            class="p-button-outlined p-button-rounded p-button-success " style="flex: 1 1 48%;"
            [ngClass]="{'p-disabled' : isWorking}" (click)="onSubmit()">
    </button>

  </div>

</div>
<p-toast position="bottom-center" key="bc"></p-toast>
