<div class="flex flex-column overflow-hidden flex-grow-1 sm:ml-3 sm:mr-3 px-5">

  <div class="p-inputgroup mb-3">
    <span class="p-inputgroup-addon"><i class="pi pi-user "></i></span>
    <span class="p-float-label">
    <input id="login" type="text" pInputText [(ngModel)]="authRequest.username">
    <label for="login">Login</label>
    </span>
  </div>

  <div class="p-inputgroup mb-3">
    <span class="p-inputgroup-addon"><i class="pi pi-lock p-float-label "></i></span>
    <p-password placeholder="Hasło" class="p-inputgroup" [(ngModel)]="authRequest.password" [toggleMask]="true"
                [feedback]="false"></p-password>
  </div>


  <div class="flex flex-row stick-to-bottom justify-content-between pb-1">

    <button pButton pRipple type="button" label="Zaloguj"
            class=" p-button-success flex-grow-1 p-button-text max-w-4rem" style="flex: 1 1 48%;"
            (click)="login()"
    >
    </button>
    <button pButton pRipple type="button" label="Zarejestruj się"
            routerLink="/registration"
            class="p-button-info flex-grow-1 p-button-text max-w-4rem" style="flex: 1 1 48%;">
    </button>
  </div>

  <p-toast position="bottom-center" key="bc"></p-toast>
</div>
