<p-card [style]="{width: '250px', height:'430px'}" styleClass="p-card-shadow text-center">
  <ng-template pTemplate="header">
    <div>
      <img class="border-round-top cover"
           height="120"
           alt="Card"
           src="https://images.unsplash.com/photo-1612865547334-09cb8cb455da?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
      >
    </div>
    <div class="flex justify-content-center" style="margin-top: -50px">
      <div class="avatar-container">
        <img
          class="customer-avatar"
          [src]="profileImage"
          alt="customer-avatar">
      </div>
      </div>
    <h2 style="color: #77DD77">{{ debt.amount }} PLN</h2>
  </ng-template>
  <div class="surface-overlay white-space-nowrap overflow-hidden " style="margin-top: -50px">
    <div *ngIf="debt.repaymentDate == null">
      Brak terminu
    </div>
    <div *ngIf="debt.repaymentDate != null">
      do {{ debt.repaymentDate | transformDate }}
    </div>
    <div style="margin-top: 15px;">
     <span [class]="'status-' + (debt.status ? debt.status.toLowerCase() : '')" >{{ getDebtStatus(debt.status) }}</span>
    </div>
    <h3>{{ debt.customer?.firstName }} {{ debt.customer?.surname }}</h3>
    <p class="text-gray-600 font-light text-overflow-ellipsis"
       style="font-size: 15px; margin-top: -15px; margin-bottom: 25px">{{ debt.customer?.email }}</p>
    <button
      pButton
      label="Szczegóły"
      class="p-button-secondary p-button-outlined p-button-rounded"
      (click)="onDetails()"
    ></button>

  </div>

</p-card>
