<p-card [style]="{width: '250px', height:'400px'}" styleClass="p-card-shadow text-center">
  <ng-template pTemplate="header">
    <div>
      <img class="border-round-top cover"
           height="120"
           alt="Card"
           src="https://images.unsplash.com/photo-1612865547334-09cb8cb455da?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
      >
    </div>
    <div class="flex justify-content-center" style="margin-top: -50px">
      <img
        class="customer-avatar"
        [src]="customerImage"
        alt="customer-avatar">
    </div>
    <h2 style="color: #ff6d6d">{{ debt.amount }} PLN</h2>
    <!--    #77DD77-->
  </ng-template>
  <div style="margin-top: -50px">
    <div>
      do {{ debt.repaymentDate | transformDate }}
    </div>
    <h2>{{ debt.customer?.firstName }} {{ debt.customer?.surname }}</h2>
    <p class="text-gray-600 font-light"
       style="font-size: 15px; margin-top: -15px; margin-bottom: 25px">{{ debt.customer?.email }}</p>
    <button
      pButton
      label="Szczegóły"
      class="p-button-secondary p-button-outlined p-button-rounded"
      (click)="onDetails()"
    ></button>

  </div>

</p-card>
