<ui-header
  [backButton]="user.id === debt.debtor?.id ? '/creditors' : '/debtors'"
  [text]="user.id === debt.debtor?.id ? 'Dług: ' + debt.description : 'Wierzycielstwo: ' + debt.description"
></ui-header>

<p-toast position="top-right" key="tr"></p-toast>
<ng-container *ngIf="!isLoading; else loadingChart">
  <ng-container *ngIf="!loadError; else errorState">

    <div class="flex justify-content-center align-items-center">
      <button
        *ngIf="user.id === debt.debtor?.id"
        pButton pRipple type="button"
        icon="pi pi-plus"
        label="Spłacaj"
        class="p-button-outlined p-button-rounded p-button-success"
        (click)="pay = true">
      </button>
    </div>

    <div class="p-1 flex flex-column">
      <div class="flex justify-content-center align-items-center flex-wrap gap-5 mt-4 pb-2">
        <p-card header="Kwota długu" [style]="{'width': '20rem', 'margin-bottom': '1em'}">{{ debt.amount }} PLN</p-card>
        <p-card header="Dług rozpoczęto"
                [style]="{'width': '20rem', 'margin-bottom': '1em'}">{{ debt.startDate | date }}
        </p-card>
        <p-card header="Data spłaty"
                [style]="{'width': '20rem', 'margin-bottom': '1em'}">{{ debt.repaymentDate == null ? 'Brak daty' : debt.repaymentDate | date }}
        </p-card>
        <p-card header="Status" [style]="{'width': '20rem', 'margin-bottom': '1em'}"><span
          [class]="'status-' + (debt.status ? debt.status.toLowerCase() : '')">{{ getDebtStatus(debt.status) }}</span>
        </p-card>
      </div>
    </div>
  </ng-container>
</ng-container>
<div *ngIf="isMobileVisible" class="block md:hidden">
  <p-sidebar [(visible)]="pay" position="right" [style]="{width:'100%'}"
             [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'">
    <app-pay-form (paymentAdded)="paymentAdded($event)" [debt]="debt"></app-pay-form>
  </p-sidebar>
</div>
<p-sidebar [(visible)]="pay" position="right" [style]="{width:'70%',  maxWidth: '800px' }"
           [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'">
  <app-pay-form (paymentAdded)="paymentAdded($event)" [debt]="debt"></app-pay-form>
</p-sidebar>

<!--table-->
<ng-container *ngIf="!isMobileVisible; else mobileTable">
  <ng-container *ngIf="!isLoading; else loadingContent">
    <p-table [value]="transactions" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="caption">
        Transakcje
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Wykonawca</th>
          <th>Opis</th>
          <th>Kwota</th>
          <th>Data</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction>
        <tr class="text-black-alpha-90 font-semibold">
          <td>
            <p-chip label="{{transaction.debt.debtor.firstName}} {{transaction.debt.debtor.surname}}"
                    [image]="profileImage" styleClass="mr-2"></p-chip>
          </td>
          <td>{{ transaction.description == '' ? '-' : transaction.description }}</td>
          <td>{{ transaction.amount }} PLN</td>
          <td>{{ transaction.paymentDate | transformDateWithHour }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="totalRecords > 5" class="flex flex-row justify-content-center align-content-end">
      <p-paginator
        [rows]="rows"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
        [rowsPerPageOptions]="[5, 10, 20]"
        [first]="currentPage * rows"
        [currentPageReportTemplate]="'({currentPage} of {totalPages})'"
      ></p-paginator>
    </div>
  </ng-container>
</ng-container>

<!--table mobile-->
<ng-template #mobileTable>
  <ng-container *ngIf="!isLoading; else loadingMobileContent">
    <p-table [value]="transactions" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        Transakcje
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Data/Wykonawca</th>
          <th>Opis</th>
          <th>Kwota</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction>
        <tr class="text-black-alpha-90 font-semibold">
          <td>
            <p>{{ transaction.paymentDate | transformDateWithHour }}</p>
            <p-chip label="{{transaction.debt.debtor.firstName}} {{transaction.debt.debtor.surname}}"
                    [image]="profileImage" styleClass="mr-2"></p-chip>
          </td>
          <td>{{ transaction.description == '' ? '-' : transaction.description }}</td>
          <td>{{ transaction.amount }} PLN</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="totalRecords > 5" class="flex flex-row justify-content-center align-content-end">
      <p-paginator
        [rows]="rows"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
        [rowsPerPageOptions]="[5, 10, 20]"
        [first]="currentPage * rows"
        [currentPageReportTemplate]="'({currentPage} of {totalPages})'"
      ></p-paginator>
    </div>
  </ng-container>

</ng-template>

<!--loading dec-->
<ng-template #loadingContent>
  <p-table [value]="skeletonTransactions" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<!--loading mobile-->
<ng-template #loadingMobileContent>
  <p-table [value]="skeletonTransactions" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<!--errorState-->
<ng-template #errorState>
  <div class="flex justify-content-center align-items-center mt-8">
    <div class="text-center">
      <img src="assets/images/error-state.png" alt="Empty State Icon" class="empty-state-icon"/>
      <h4 [ngStyle]="{color:'var(--bluegray-700)'}">Błąd pobierania dancyh :(</h4>
    </div>
  </div>
</ng-template>

<!--loadingState-->
<ng-template #loadingChart>
  <div class="custom-skeleton p-4">
    <div class="flex mb-3">
      <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
      <div>
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height=".5rem"></p-skeleton>
      </div>
    </div>
    <p-skeleton width="100%" height="150px"></p-skeleton>
    <div class="flex justify-content-between mt-3">
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
    </div>
  </div>
</ng-template>
