@mixin status-style {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 750;
  font-size: 12px;
  letter-spacing: .3px;
}

.status-active {
  @include status-style;
  background-color: #b3e5fc;
  color: #23547b;
}

.status-finished {
  @include status-style;
  background-color: #c8e6c9;
  color: #256029;
}

.status-cancelled {
  @include status-style;
  background-color: #ffd8b2;
  color: #805b36;
}

.status-archived {
  @include status-style;
  background-color: #eccfff;
  color: #694382;
}

.empty-state-icon {
  width: 300px;

  @media (max-width: 1200px) {
    width: 240px;
  }

  @media (max-width: 768px) {
    width: 180px;
  }

  @media (max-width: 576px) {
    width: 120px;
  }
}

