<p-toast position="top-right" key="tr"></p-toast>
<h1>Debt Details</h1>
<p><strong>ID:</strong> {{ debt.id }}</p>
<p><strong>Amount:</strong> {{ debt.amount | currency }}</p>
<p><strong>Description:</strong> {{ debt.description }}</p>
<p><strong>Repayment Date:</strong> {{ debt.repaymentDate | date }}</p>
<p><strong>Start Date:</strong> {{ debt.startDate | date }}</p>
<p><strong>Status:</strong> {{ debt.status }}</p>


<ng-container *ngIf="!isMobileVisible; else mobileTable">
  <ng-container *ngIf="!isLoading; else loadingContent">
    <p-table [value]="transactions" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="caption">
        Ostatnie Transakcje
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Wykonawca</th>
          <th>Kwota</th>
          <th>Data</th>
          <th>Dług</th>
          <th>Status długu</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction>
        <tr class="text-black-alpha-90 font-semibold">
          <td>
            <p-chip label="{{transaction.debt.debtor.firstName}} {{transaction.debt.debtor.surname}}"
                    icon="pi pi-user"></p-chip>
          </td>
          <td>{{ transaction.amount }} PLN</td>
          <td>{{ transaction.paymentDate | transformDateWithHour }}</td>
          <td>{{ transaction.debt.description }}</td>
          <td>{{ transaction.debt.status}}</td>

        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</ng-container>

<ng-template #mobileTable>
  <ng-container *ngIf="!isLoading; else loadingMobileContent">
    <p-table [value]="transactions" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        Ostatnie Transakcje
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Wykonawca</th>
          <th>Kwota</th>
          <th>Status długu</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction>
        <tr class="text-black-alpha-90 font-semibold">
          <td>
            <p-chip label="{{transaction.debt.debtor.firstName}} {{transaction.debt.debtor.surname}}"
                    icon="pi pi-user"></p-chip>
          </td>
          <td>{{ transaction.amount }} PLN</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

</ng-template>

<ng-template #loadingContent>
  <p-table [value]="skeletonTransactions" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #loadingMobileContent>
  <p-table [value]="skeletonTransactions" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
