<p-toast position="top-right" key="tr"></p-toast>
<div class="p-1">

  <h1>{{ debt.description }}</h1>
  <div class="flex justify-content-center align-items-center flex-wrap gap-5 mt-4 pb-2">
    <p-card header="Kwota długu" [style]="{'width': '20rem', 'margin-bottom': '1em'}">{{ debt.amount }} PLN</p-card>
    <p-card header="Dług rozpoczęto" [style]="{'width': '20rem', 'margin-bottom': '1em'}">{{ debt.startDate | date  }}</p-card>
    <p-card header="Data spłaty" [style]="{'width': '20rem', 'margin-bottom': '1em'}">{{ debt.repaymentDate | date }}</p-card>
    <p-card header="Status" [style]="{'width': '20rem', 'margin-bottom': '1em'}"><span
      [class]="'status-' + (debt.status ? debt.status.toLowerCase() : '')">{{ getDebtStatus(debt.status) }}</span></p-card>
  </div>


</div>
  <ng-container *ngIf="!isMobileVisible; else mobileTable">
    <ng-container *ngIf="!isLoading; else loadingContent">
      <p-table [value]="transactions"  [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="caption">
          Ostatnie Transakcje
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Wykonawca</th>
            <th>Kwota</th>
            <th>Data</th>
            <th>Dług</th>
            <th>Status długu</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
          <tr class="text-black-alpha-90 font-semibold">
            <td>
              <p-chip label="{{transaction.debt.debtor.firstName}} {{transaction.debt.debtor.surname}}" [image]="profileImage" styleClass="mr-2"></p-chip>
            </td>
            <td>{{ transaction.amount }} PLN</td>
            <td>{{ transaction.paymentDate | transformDateWithHour }}</td>
            <td>{{ transaction.debt.description }}</td>
            <td><span
              [class]="'status-' + (transaction.debt.status ? transaction.debt.status.toLowerCase() : '')">{{ getDebtStatus(transaction.debt.status) }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </ng-container>



<ng-template #mobileTable>
  <ng-container *ngIf="!isLoading; else loadingMobileContent">
    <p-table [value]="transactions" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        Ostatnie Transakcje
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Data/Wykonawca</th>
          <th>Kwota</th>
          <th>Dług/Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction>
        <tr class="text-black-alpha-90 font-semibold">
          <td>
            <p>{{ transaction.paymentDate | transformDateWithHour }}</p>
            <p-chip label="{{transaction.debt.debtor.firstName}} {{transaction.debt.debtor.surname}}" [image]="profileImage" styleClass="mr-2"></p-chip>
          </td>
          <td>{{ transaction.amount }} PLN</td>
          <td>
            {{ transaction.debt.description }}
          <span
            [class]="'status-' + (transaction.debt.status ? transaction.debt.status.toLowerCase() : '')">{{ getDebtStatus(transaction.debt.status) }}</span>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

</ng-template>

<ng-template #loadingContent>
  <p-table [value]="skeletonTransactions" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #loadingMobileContent>
  <p-table [value]="skeletonTransactions" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
        <th>
          <p-skeleton></p-skeleton>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
