<div class="flex flex-column " style="height: 85vh;">

  <div class="p-inputgroup max-w-30rem mb-4">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <span class="p-float-label">
    <input id="email" type="text" pInputText [(ngModel)]="email">
    <label for="email">e-mail</label>
    </span>
  </div>

  <div class="p-inputgroup max-w-30rem mb-4">
    <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
    <p-inputNumber [(ngModel)]="amount" mode="currency" currency="PLN" locale="en-US"></p-inputNumber>
  </div>


  <div class="field-checkbox mb-4">
    <p-checkbox [(ngModel)]="withEndDate" [binary]="true" inputId="binary"></p-checkbox>
    <label> Czy ustawić date spłaty?</label>
  </div>
  <div *ngIf="withEndDate" class="p-inputgroup max-w-30rem mb-4">
    <p-calendar [(ngModel)]="date" [showIcon]="true"
                [minDate]="minDate"
                [locale]="pl"
                [disabledDates]="invalidDates">

    dateFormat="dd.mm.yy"></p-calendar>
  </div>


  <div class="flex flex-row mr-4 max-w-30rem stick-to-bottom">
    <button pButton pRipple type="button" label="Zatwierdź"
            class="p-button-outlined p-button-rounded p-button-success" style="flex: 1 1 48%;">
    </button>
    <div class="mr-6 ml-6"></div>
    <button pButton pRipple type="button" label="Anuluj"
            class="p-button-outlined p-button-rounded p-button-danger" style="flex: 1 1 48%;">
    </button>
  </div>

</div>
