<button pButton pRipple type="button"
        icon="pi pi-plus"
        label="Dodaj Dłużnika"
        class="p-button-outlined p-button-rounded p-button-success"
        (click)="display = true">
</button>
<div *ngIf="isMobileVisible" class="block md:hidden">
  <p-sidebar [(visible)]="display" position="right"
             [style]="{width:'100%'}"
             [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'"
  >
    <app-menage-person></app-menage-person>
  </p-sidebar>
</div>
<p-sidebar [(visible)]="display" position="right"
           [style]="{width:'70%',  maxWidth: '800px' }"
           [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'"

>
  <app-menage-person></app-menage-person>
</p-sidebar>


<div *ngFor="let customer of customers">
  <div>{{ customer.name }} - {{ customer.email }}</div>
</div>
<div *ngIf="customers.length >= 5">
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="[5, 10, 20]"
    [styleClass]="'p-paginator-first'"
  ></p-paginator>

</div>



<p-toast position="top-right" key="tr"></p-toast>



