<div class="min-h-full">
  <button pButton pRipple type="button"
          icon="pi pi-plus"
          label="Dodaj Dług"
          class="p-button-outlined p-button-rounded p-button-success"
          (click)="display = true">
  </button>
  <div *ngIf="isMobileVisible" class="block md:hidden">
    <p-sidebar [(visible)]="display" position="right" [style]="{width:'100%'}"
               [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'">
      <app-menage-person></app-menage-person>
    </p-sidebar>
  </div>
  <p-sidebar [(visible)]="display" position="right" [style]="{width:'70%',  maxWidth: '800px' }"
             [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'">
    <app-menage-person></app-menage-person>
  </p-sidebar>
  <div class="flex justify-content-center align-items-center flex-wrap gap-5 mt-4 pb-2">
    <app-customer-card
      *ngFor="let debt of debts; let index = index"
      [debt]="debt"
      [type]="'debtor'"
      [customerIndex]="index"
      (details)="goToDetailsCustomer($event)"
    ></app-customer-card>
  </div>
  <p-toast position="top-right" key="tr"></p-toast>
</div>

<div *ngIf="totalRecords >= 5" class="flex flex-row justify-content-center align-content-end">
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="[5, 10, 20]"
  ></p-paginator>
</div>
