<ui-header
  [backButton]="'/settings'"
  [closeButton]="''"
  [showCloseButton]="true"
  [text]="'Zmień hasło'"
></ui-header>
<div class="flex flex-column overflow-hidden flex-grow-1 max-w-25rem sm:ml-8">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="flex flex-column">
<div class="p-inputgroup mt-5 flex-column">

  <div class="flex flex-row">
      <span class="p-float-label">
        <input id="newPassword" formControlName="newPassword" type="password" pInputText>
        <label for="newPassword">Nowe hasło</label>
      </span>
  </div>

  <div class="flex flex-row mt-1 justify-content-center">
    <p-message *ngIf="changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.dirty"
               severity="error" text="Hasło od 4 do 20 znaków."></p-message>
  </div>

</div>

<div class="p-inputgroup mt-5 flex-column">

  <div class="flex flex-row">
      <span class="p-float-label">
        <input id="confirmPassword" formControlName="confirmPassword" type="password" pInputText>
        <label for="confirmPassword">Potwierdź hasło</label>
      </span>
  </div>

  <div class="flex flex-row mt-1 justify-content-center">
    <p-message *ngIf="changePasswordForm.get('confirmPassword')?.errors && changePasswordForm.get('confirmPassword')?.dirty"
               severity="error" text="Hasła muszą być takie same."></p-message>
  </div>
</div>

<div class="flex flex-column mt-2 p-1">
  <button pButton pRipple type="submit" label="Zmień hasło"
          class="p-button-success flex-grow-1 p-button-text" [ngClass]="{'p-disabled' : isWorking}"></button>
</div>
</form>
<p-toast position="bottom-center" key="bc"></p-toast>
</div>
