<!--<div class="card">-->
<!--  <h5>Session Storage</h5>-->
<!--  <p-table #dt1 [value]="transactions" selectionMode="single" dataKey="id" [tableStyle]="{'min-width': '50rem'}"-->
<!--           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">-->
<!--    <ng-template pTemplate="header">-->
<!--      <tr>-->
<!--        <th pSortableColumn="name" style="width:25%">Name <p-sortIcon field="name"></p-sortIcon></th>-->
<!--        <th pSortableColumn="country.name" style="width:25%">Country <p-sortIcon field="country.name"></p-sortIcon></th>-->
<!--        <th pSortableColumn="representative.name" style="width:25%">Representative <p-sortIcon field="representative.name"></p-sortIcon></th>-->
<!--        <th pSortableColumn="status" style="width:25%">Status <p-sortIcon field="status"></p-sortIcon></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>-->
<!--          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'name', 'contains')" [value]="dt1.filters['name']?.value" placeholder="Search by Name" class="w-full">-->
<!--        </th>-->
<!--        <th>-->
<!--          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'country.name', 'contains')" [value]="dt1.filters['country.name']?.value" placeholder="Search by Country" class="w-full">-->
<!--        </th>-->
<!--        <th>-->
<!--          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'representative.name', 'contains')" [value]="dt1.filters['representative.name']?.value" placeholder="Search by Representative" class="w-full">-->
<!--        </th>-->
<!--        <th>-->
<!--          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'status', 'contains')" [value]="dt1.filters['status']?.value" placeholder="Search by Status" class="w-full">-->
<!--        </th>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-transaction>-->
<!--      <tr >-->
<!--        <td>-->
<!--          <span class="p-column-title">Wykonawca</span>-->
<!--          {{transaction.debt.debtor}}-->
<!--        </td>-->
<!--        <td>-->
<!--          <span class="p-column-title">Kwota</span>-->
<!--          <span class="image-text">{{transaction.amount}} PLN</span>-->
<!--        </td>-->
<!--        -->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="emptymessage">-->
<!--      <tr>-->
<!--        <td colspan="4">No transaction found.</td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--  </p-table>-->
<!--</div>-->
