<mat-accordion>
  <div *ngFor="let transaction of transactions">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{transaction.debt?.debtor?.firstName}} {{transaction.debt?.debtor?.surname}}
        </mat-panel-title>
        <mat-panel-title *ngIf="!isOwner(transaction.debt?.debtor?.id)" style="color: #77DD07">
          {{transaction.amount}} PLN
        </mat-panel-title>
        <mat-panel-title *ngIf="isOwner(transaction.debt?.debtor?.id)" style="color: #ff6d0d">
          - {{transaction.amount}} PLN
        </mat-panel-title>
        <mat-panel-title>
          {{transaction.description}}
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="flex flex-grow-1 flex-row">
        <mat-card class="flex flex-grow-1">
          <mat-card-header>
            <mat-card-subtitle>Saldo po Transakcji</mat-card-subtitle>
            <mat-card-title>
              {{transaction.balanceAfterTransaction}} PLN
            </mat-card-title>
          </mat-card-header>
        </mat-card>

        <mat-card class="flex flex-grow-1">
          <mat-card-header>
            <mat-card-subtitle>Dług</mat-card-subtitle>
            <mat-card-title>
              {{transaction.debt?.description}}
            </mat-card-title>
          </mat-card-header>
        </mat-card>

        <mat-card class="flex flex-grow-1">

            <div [class]="'status-' + (transaction.debt?.status ? transaction.debt?.status?.toLowerCase() : '')">
             Dług {{getDebtStatus(transaction.debt?.status)}}
            </div>

        </mat-card>

        <mat-card class="flex flex-grow-1">
          <mat-card-header>
            <mat-card-subtitle>Data transakcji</mat-card-subtitle>
            <mat-card-title>
              {{transaction.paymentDate | transformDateWithHour}}
            </mat-card-title>
          </mat-card-header>
        </mat-card>

        <div class="flex flex-column">
          <button mat-button>ZMIEŃ</button>
          <button mat-button>USUŃ</button>
        </div>


      </div>

    </mat-expansion-panel>

  </div>


</mat-accordion>
<p-paginator
  [rows]="rows"
  [totalRecords]="totalRecords"
  (onPageChange)="onPageChange($event)"
  [rowsPerPageOptions]="[15, 25, 30]"
></p-paginator>
